<%- include('partials/header') %> 


  <!-- Page Content -->
  <div class="container container-main">

      <div class="row">
        <div class="col">
          <h3 class="text-center">Votre Panier</h3>
            <% if ( locals.cart && cart.length > 0 ) { %> 
          <table class="table">
            <thead>
              <th>figurine</th>
              <th>Quantité</th>
              <th>Prix HT</th>
            </thead>
            <tbody>
              <% cart.forEach(article => { %>
              <tr>
                <td>
                  <img class="img-thumbnail img-cart-list" src="/images/<%= article.name.toLowerCase() %>.png" alt="">
                  <div class="figurine-description">
                      <h5 class="figurine-title"><%= article.name %></h5>
                      <p class="figurine-prize">$<%= article.price %></p>
                  </div>
                </td>

                <td>
                  <strong><%= article.quantity %></strong>
                  <a href="/cart/add/<%=article.itemid%>">+</a> / <a href="/cart/delete/<%=article.itemid%>">-</a>
                </td>

                <td>
                  <p class="figurine-subtotal text-right">$<%=article.subtotal.toFixed(2)%></p>
                </td>
              </tr>
              <% }) %> 



              <!-- Frais de port -->
              <tr>
                <td class="text-right" colspan="2">
                  Frais de port
                </td>
                <td class="figurine-subtotal text-right">
                  $<%= details.shipping.toFixed(2) %> 
                </td>
              </tr>

              <tfoot>
                <tr>
                  <td class="text-right" colspan="2">
                    Total HT
                  </td>
                  <td class="figurine-subtotal text-right">
                    $<%= details.totalTF.toFixed(2) %> 
                  </td>
                </tr>

                <tr>
                  <td class="text-right" colspan="2">
                    TVA <%= (details.vat * 100) %>% 
                  </td>
                  <td class="figurine-subtotal text-right">
                    $<%= details.vatAmount.toFixed(2) %> 
                  </td>
                </tr>

                <tr class="row-total">
                  <td class="text-right" colspan="2">
                    Total TTC
                  </td>
                  <td class="figurine-total text-right">
                    $<%= details.total.toFixed(2) %> 
                  </td>
                </tr>

              </tfoot>

            </tbody>

          </table>
          
          
          <div class="row">
            <div class="col text-right">
              <div class="btn btn-success">
                Passer Commande
              </div>
            </div>
          </div>
          <% } else { %>      
            
            <h3>Aucune figurine dans votre panier</h3>
            
            <% } %> 
        </div>
      </div>
    </div>
    

  <%- include('partials/footer') %> 
